.footer {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.footer-inner {
    position: relative;

    display: inline-block;
}

.footer-grid {
    display: grid;
    grid-auto-rows: 32px;
}

.footer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    color: white;
    text-shadow: 2px 2px 0 #000;
}

.footer-text {
    pointer-events: none;
}