.education-content {
    padding: 3rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.timeline {
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;

    border-left: 6px solid green;
    padding-left: 1.8rem;
}

.timeline-item {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.timeline-date { 
    color: var(--green-light);
}