.home-content {
    padding: 3rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.home-bttns-group {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
}

.home-cards {
    padding: 1rem 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.home-last {
    padding: 3rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.last-card {
    padding: 1.4rem;
}

.last-card pre {
    white-space: pre-wrap;
    line-height: 2;
}