.about-content {
    padding: 3rem 6rem;

    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-img {
    padding: 1.6rem;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-group {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* background-color: blue; */
}

.about-title {
    font-size: 1.2rem;
}

.about-text {
    /* padding: 0 5rem 0 9rem; */

    font-size: 0.9rem;
    line-height: 2;

    /* background-color: red; */
}

/* Small tablets */

@media screen and (min-width: 480px) {

}

/* Large tablets */

@media screen and (min-width: 768px) {
    .about-content {
        flex-flow: row nowrap;
    }
}

/* Laptops */

@media screen and (min-width: 1024px) {

}

/* Desktop */

@media screen and (min-width: 1200px) {

}