.home-content {
    padding: 3rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.home-content h3 {
    padding: 0 5rem;
    line-height: 2;
    font-size: 1rem;
}

.home-bttns-group {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
}

.home-cards {
    padding: 1rem 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}