.blocks {
    position: relative;
}

.blocks-panel {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    display: grid;
}

.blocks-row {
    display: contents;
}

.blocks-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
}

.block {
    width: 32px;
    height: 32px;
    background-size: cover;
    /* border: solid 1px white; */
}

.dirt { background-image: url('/sprites/dirt.png'); }
.cobblestone { background-image: url('/sprites/cobblestone.png'); }
.stone { background-image: url('/sprites/stone.png'); }
.brick { background-image: url('/sprites/brick.png'); }
.obsidian { background-image: url('/sprites/obsidian.png'); }
.bedrock { background-image: url('/sprites/bedrock.png'); }

.wood { background-image: url('/sprites/wood.png'); }
.oakplanks { background-image: url('/sprites/oakplanks.png'); }
.spruceplanks { background-image: url('/sprites/spruceplanks.png'); }
.birchplanks { background-image: url('/sprites/birchplanks.png'); }