* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overscroll-behavior: none;
   text-decoration: none;
   list-style: none;
   line-height: 1.5;
   font-family: "Press Start 2P", monospace, system-ui;
}

:root {
   --white: white;
   --black: black;
   --grey-light: rgb(200, 200, 200);
   --green: #1f5f22;
   --green-dark: #0f2e12;
   --green-nav: #4caf50;
   --green-dark-nav: #2e7d32;
}

html {
   box-sizing: inherit;
   font-size: 62.5%;
   scroll-behavior: smooth;
}